body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-row, .filter-row-advanced {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#detailView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Thay đổi lại cách hiển thị */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show {
    display: block !important;
    visibility: visible !important;
    opacity: 1;
}


#closeDetail {
    color: white;
    background: red;
    float: right;
    padding: 5px;
}
